<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                    
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040122">Senior iOS Developer (Remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Netronix</td> 
     <td class="salary">От 2 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038159">🤖 QA Automation Engineer (Backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035490">Java Developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Тенет</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039346">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 125 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040081">iOS Developer ( Разработка решения SERVICE DESK)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040076">Full-stack разработчик чат-ботов</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Ruka Group</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040068">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040064">Oracle DBA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Авто49</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038459">Middle / Senior Ruby / RoR разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Seendex</td> 
     <td class="salary">До 210 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039747">Разработчик SRE</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030970">Разработчик SRE</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040036">Senior Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CORE</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040025">Go (Golang / C ++ / Java) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nesthorn GmbH</td> 
     <td class="salary">От 100 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040022">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020412">Frontend developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TetraSoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035241">Ведущий специалист тестирования</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АКБ РосЕвроБанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039992">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mainex</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039879">Senior/Middle Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040003">Product Manager</a></td> 
     <td class="city"></td> 
     <td class="companyName">FraudEver</td> 
     <td class="salary">От 101 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039991">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039989">Android Team Lead (удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035947">Специалист QA/Специалист по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039968">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040122">Senior iOS Developer (Remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Netronix</td> 
     <td class="salary">От 2 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038159">🤖 QA Automation Engineer (Backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035490">Java Developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Тенет</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039346">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 125 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040081">iOS Developer ( Разработка решения SERVICE DESK)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040076">Full-stack разработчик чат-ботов</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Ruka Group</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040068">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040064">Oracle DBA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Авто49</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038459">Middle / Senior Ruby / RoR разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Seendex</td> 
     <td class="salary">До 210 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039747">Разработчик SRE</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030970">Разработчик SRE</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040036">Senior Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CORE</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040025">Go (Golang / C ++ / Java) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nesthorn GmbH</td> 
     <td class="salary">От 100 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040022">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020412">Frontend developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TetraSoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035241">Ведущий специалист тестирования</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АКБ РосЕвроБанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039992">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mainex</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039879">Senior/Middle Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040003">Product Manager</a></td> 
     <td class="city"></td> 
     <td class="companyName">FraudEver</td> 
     <td class="salary">От 101 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039991">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039989">Android Team Lead (удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035947">Специалист QA/Специалист по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039968">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039962">Senior Android and iOS Developer(s)</a></td> 
     <td class="city"></td> 
     <td class="companyName">CODJA</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039957">DevOps - Support level 2</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039915">Team Lead / Full Stack Developer (PHP, Vue.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Пегас Туристик"</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032007">java - разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039935">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СИБИНТЕК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038748">Back-end developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Фаст Финанс</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039912">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 2 500 до 2 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039433">Backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">automacon</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039893">TeamLead Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ALAMICS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039883">DevOps-инженер</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039881">Ведущий Java разработчик (E-commerce)</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039875">C++ Software Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">THEYR LTD.</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039877">Senior C++ Software Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">THEYR LTD.</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039876">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Армия Кадров</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039859">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СИБИНТЕК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039856">Mobile Developer</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039850">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Клевертек</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039848">Java Developer (гипотетически senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ECO-HumanResources</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask (ScanTask)</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039837">Python | Django разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Relines</td> 
     <td class="salary">От 70 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039822">Разработчик ASP.net / С#</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039753">Senior/ middle Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039761">QA Automation Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039631">Web-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Независимая регистраторская компа...</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039780">Программист на Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Traft (ООО "ТРАФТ")</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027536">Android разработчик / Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ответ</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039792">Разработчик Java / JavaScript</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LPTREND</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039787">Ведущий разработчик Java (ОФД)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039784">Ведущий Web разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Procraft</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039769">Технический менеджер в Центре Инноваций МТС (направление E-Learning)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039766">Senior/Middle Java developer</a></td> 
     <td class="city">Череповец</td> 
     <td class="companyName">Медлайнсофт</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033841">Senior Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">IKIT Laboratory</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039758">Middle Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Смартсофт"</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039748">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039721">Java-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 95 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039737">Руководитель команды разработки (Java + Web)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 100 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039738">Java-программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039725">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038454">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ремонтник.ру</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038406">Java-разработчик</a></td> 
     <td class="city">Сергиев Посад</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038455">Middle / Senior Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034622">Разработчик java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ХОСТ</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026504">Senior PHP back-end developer (Symfony, Yii2)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039667">Java-разработчик Карты</a></td> 
     <td class="city"></td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032132">JAVA Developer (микросервисы SpringBoot)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032049">C#/Unity3d разработчик г.Екатеринбург (офис)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Lucky Fox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039119">Android developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Siberian.pro</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039610">Стажер Web-разработчик</a></td> 
     <td class="city">Таганрог</td> 
     <td class="companyName">Exceed Team</td> 
     <td class="salary">От 10 000 до 25 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039055">DevOps инженер (удалённая работа)</a></td> 
     <td class="city"></td> 
     <td class="companyName">КУРС</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035368">Web developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel Inc.</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038409">QA engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">EDIReal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038358">React native developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">EDIReal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038408">JAVA / swing developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">EDIReal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037052">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038263">Frontend Lead Programmer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037257">Senior Front-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039024">PHP/JavaScript full-stack программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">rcm-dezign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035988">Старший разработчик С++ (моб⁢ильные и desktop-приложения)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039616">Backend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Тэсонэро Компьютерс</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039626">Разработчик Java/C++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">automacon</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039588">Junior/Middle Full Stack Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто, ООО</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033610">Java - разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039003">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">iPOSTCASE студия мобильных приложений</td> 
     <td class="salary">От 60 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039008">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">OK Saturday</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039267">Java developer (junior/middle)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ "АРГУС"</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038880">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВКонтакте</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039000">Senior Java разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Татикома Системс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038995">Junior Java разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Татикома Системс</td> 
     <td class="salary">От 20 000 до 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038998">Middle Java разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Татикома Системс</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039001">Senior Java разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Татикома Системс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038999">Middle Java разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Татикома Системс</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038996">Junior Java разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Татикома Системс</td> 
     <td class="salary">От 20 000 до 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038981">Backend developer Java or/and Node.js</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Electrolux</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033669">React Native / React.JS программист удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039578">Мобильный разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">2B Studio</td> 
     <td class="salary">До 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039555">Вирусный аналитик в группу анализа мобильных угроз / Mobile Threats Analyst</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Доктор Веб</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039545">Data Scientist</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039542">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">InRight</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032511">JAVA-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рив Гош</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038850">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">«Манго Телеком»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039522">Системный архитектор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">«Манго Телеком»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039524">Ведущий программист NodeJS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">«Манго Телеком»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039520">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">«Манго Телеком»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039502">Программист Битрикс (PHP, Bitrix, full-stack)</a></td> 
     <td class="city"></td> 
     <td class="companyName">АГРОРУ.ком</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039495">Frontend Developer in a Blockchain Project</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KickCity</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039491">Fullstack Java Developer (Products Department)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Actimind</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039311">Fullstack-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LIPT Soft</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039485">Программист R, Python или JAVA (без опыта работы)</a></td> 
     <td class="city">Пограничный, пгт</td> 
     <td class="companyName">Digital Contact</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039483">QA инженер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто, ООО</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039410">Программист C#</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">UNISTREAM COMMERCIAL BANK (JSC)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033303">Frontend разработчик / Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039470">Серверный программист Scala</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cash Poker Pro</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038955">android разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">ТОО DAR ecosystem</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038952">Системный архитектор R&amp;D</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038942">QA Manager (Руководитель QA отдела продукта)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039458">Senior Front-end Developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038936">Lead Java Backend Developer (Ведущий Java разработчик, бэкенд)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039339">Специалист по тестированию ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WakeApp</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038903">(Senior) full stack developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Софтверке"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027855">Backend разработчик</a></td> 
     <td class="city">Кострома</td> 
     <td class="companyName">iVolga Technologies</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038913">Senior Android Developer (Ведущий Android разработчик)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Just App Inc</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038297">Backend-разработчик (Java, Spring)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">G2</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039436">Product owner стратегических продуктов</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039444">Ведущий разработчик Frontend (ОФД)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039438">Senior Frontend Developer / Ведущий программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ISKRA</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039398">Android разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Mint Rocket</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039418">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039427">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038896">Программист C#</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">e:mg</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039414">DevOps Engineer</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary">От 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039413">Java-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039411">Machine Learning Engineer, NLP</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Xpansa</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037633">Automation QA Engin‎eer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032615">программист Java</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034592">Junior android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038106">Программист под Android (JAVA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Duotek</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039394">Senior Python Developer, Gaming Platform</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038875">Разработчик мобильных приложений</a></td> 
     <td class="city"></td> 
     <td class="companyName">datarockets</td> 
     <td class="salary">От 800 до 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038867">FrontEnd - разработчик (JavaScript)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">Клевертек</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038864">Java Developer (eFX )</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038863">Senior Java/Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036795">Программист Java EE</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sputnik Development</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039372">Backend-разработчики</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Hr_клуб</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038849">Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Staff and Service</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038841">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037983">Руководитель центра разработки (BigData)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039349">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Мамси</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033634">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038795">Разработчик-архитектор решений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сибур, Проект "Цифровая трасформация"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039290">Junior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033342">Android Developer (Kotlin)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Константа</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039323">Ведущий Java разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039324">Ведущий Java разработчик</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039325">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039326">Разработчик Java</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039328">Разработчик JAVA (FRONT / BACK END)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039316">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039309">Разработчик Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">A3 Payment</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>